.card {
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 40px;
  background-color: #2F2F2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card__info {
  box-sizing: border-box;
  padding: 16px;
}

.card__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  grid-area: cardTitle;
}

.card__duration {
  margin: 0 0 30px;
  font-size: 11px;
  line-height: 1.18;
  color: #8B8B8B;
  grid-area: cardDuration;
}

.card__like {
  width: 14px;
  height: 12px;
  background: url('../../images/like.svg') center / contain no-repeat;
  grid-area: cardLike;
}

.card__image {
  width: 220px;
  height: 122px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .card {
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 20px;
  }

  .card__info {
    width: 100%;
    padding: 12px;
    display: grid;
    grid-template-areas:
      "cardTitle cardLike"
      "cardDuration cardDuration";
    justify-content: space-between;
  }

  .card__title {
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 9px;
  }

  .card__like {
    margin-right: 4px;
  }

  .card__duration {
    margin-bottom: 1px;
  }

  .card__image {
    width: 300px;
    height: 168px;
    margin-bottom: 2px;
  }
}