.movies__container {
  padding-left: 70px;
  padding-right: 70px;
}

.movies__more {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies__more-button {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .movies__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .movies__more-button {
    width: 80%;
  }
}