.burger-button {
  padding: 8px 8px 7px;
  border: none;
  width: 100%;
  max-width: 44px;
  background-color: transparent;
  display: none;
}

.burger-button__line {
  display: block;
  margin-bottom: 7px;
  width: 100%;
  border-bottom: 3px solid #ffffff;
}

.burger-button__line:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .burger-button {
    display: unset;
  }
}

@media screen and (max-width: 767px) {
  .burger-button {
    padding: 8px 9px 7px;
    max-width: 40px;
  }

  .burger-button__line {
    border-bottom: 2px solid #ffffff;
  }
}