.promo {
    background-color: #073042;
}

.promo__container {
    padding-top: 50px;
    padding-bottom: 60px;
    min-height: 560px;
    height: 100%;
    background-image: url('../../images/hero--image.svg');
    background-position: 88% 80%;
    background-repeat: no-repeat;
}

.promo__header {
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -1.6px;
    line-height: 1.3;
    max-width: 626px;
}

@media screen and (max-width: 1023px) {
    .promo__container {
        padding: 300px 44px 440px;
        background-position: center 88%;
        background-size: 88%;
    }

    .promo__header {
        max-width: 680px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .promo__container {
        padding: 183px 10px 330px;
        background-position: center 90%;
        background-size: 680px;
    }

    .promo__header {
        font-size: 31px;
        line-height: 1.26;
    }
}
