.section__header {
    box-sizing: border-box;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: -0.8px;
    padding-top: 1px;
    padding-bottom: 22px;
    border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 767px) {
    .section__header {
        font-size: 18px;
        line-height: 1.22;
        padding-bottom: 27px;
    }
}
