.footer__container {
    padding: 79px 70px 20px;
}

.footer__content {
    margin-top: 0;
}

.footer__description {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    text-align: center;
}

.footer__info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
}

.footer__navigation {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
}

.footer__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footer__navigation-item {
    margin-right: 20px;
}

.footer__navigation-item:last-of-type {
    margin-right: 0;
}

.footer__navigation-link {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .footer__container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__description {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__description {
        font-size: 12px;
        line-height: 1.25;
    }

    .footer__info {
        margin-top: 30px;
        flex-direction: column-reverse;
    }

    .footer__copyright {
        font-size: 12px;
        line-height: 1.25;
    }

    .footer__navigation {
        margin-bottom: 30px;
    }

    .footer__navigation-list {
        flex-direction: column;
        align-items: center;
    }

    .footer__navigation-item {
        margin-right: unset;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 1.25;
    }

    .footer__navigation-item:last-of-type {
        margin-bottom: unset;
    }
}
