.section__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 1023px) {  
  .section__container {
  max-width: 1023px;
  padding-left: 50px;
  padding-right: 50px;
  }
}

@media screen and (max-width: 767px) {  
  .section__container {
  max-width: 767px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  }
}