.techs {
    background-color: #272727;
}

.techs__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.techs__content {
  padding-top: 90px;
}

.techs__header {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__description {
  max-width: 500px;
  margin: 25px auto 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.6px;
}

.techs__list {
  margin: 102px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  /* grid-auto-flow: column; */
  justify-content: center;
}

.techs__item {
  box-sizing: border-box;
  max-width: 90px;
  padding: 21px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.6px;
  text-align: center;
  background-color: #303030;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .techs__container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .techs__content {
    padding-top: 80px;
  }

  .techs__description {
    margin-top: 22px;
    max-width: 460px;
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__list {
    margin-top: 83px;
    grid-template-columns: repeat(auto-fit, 84px);

  }

  .techs__item {
    padding: 20px 0;
    max-width: 84px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.5px;
  }
}

@media screen and (max-width: 767px) {
  .techs__container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .techs__content {
    padding-top: 62px;
  }

  .techs__header {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  .techs__description {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: -0.04em;
  }

  .techs__list {
    margin: 50px auto 0;
    padding: 0 30px;
  }
}