@import url('../../blocks/section/__container/section__container.css');

.about-me__container {
  padding-top: 110px;
  padding-bottom: 125px;
}

.about-me__content {
  margin: 66px 0 0;
}

.about-me__info {
  display: grid;
  grid-template-areas: 
  "aboutMeHeader aboutMePhoto"
  "aboutMeDecsription aboutMePhoto"
  "aboutMeBio aboutMePhoto"
  "aboutMeLinks aboutMePhoto";
  justify-content: space-between;
}

.about-me__header {
  max-width: 600px;
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  grid-area: aboutMeHeader;
}

.about-me__description {
  max-width: 600px;
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  grid-area: aboutMeDecsription;
}

.about-me__bio {
  max-width: 600px;
  margin: 25px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  grid-area: aboutMeBio;
}

.about-me__links-list {
  margin: 99px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  grid-area: aboutMeLinks;
}

.about-me__links-item {
  font-size: 14px;
  line-height: 1.21;
  margin-right: 20px;
}

.about-me__links-item:last-of-type {
  margin-right: 0;
}

.about-me__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: center;
  grid-area: aboutMePhoto;
}

.about-me__portfolio {
  margin-top: 100px;
}

.portfolio__header {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: #8B8B8B;
}

.portfolio__list {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px solid #424242;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -1.2px;
}

.portfolio__item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__paragraph {
  margin: 0;
}

.portfolio__arrow {
  margin: 0;
  margin-right: 5px;
}

@media screen and (max-width: 1023px) {
  .about-me__container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-me__header {
    max-width: 364px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.6px;
  }

  .about-me__description {
    max-width: 364px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__bio {
    max-width: 364px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__links-list {
    margin-top: 87px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__portfolio {
    margin-top: 90px;
  }

  .portfolio__item {
    padding: 20px 0;
    font-size: 28px;
    line-height: 1.79;
    letter-spacing: -1.1px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .about-me__content {
    margin-top: 60px;
  }

  .about-me__info {
    grid-template-areas: 
    "aboutMePhoto"
    "aboutMeHeader"
    "aboutMeDecsription"
    "aboutMeBio"
    "aboutMeLinks";
  }

  .about-me__header {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  .about-me__description {
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__bio {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__links-list {
    margin-top: 40px;
  }

  .about-me__links-item {
    margin-right: 26px;
  }

  .about-me__links-item:last-of-type {
    margin-right: unset;
  }

  .about-me__photo {
    width: 100%;
    height: 352px;
    margin-bottom: 40px;
  }

  .about-me__portfolio {
    margin-top: 70px;
  }
  
  .portfolio__header {
    font-size: 14px;
    line-height: 1.43;
  }
  
  .portfolio__list {
    margin-top: 21px;
  }

  .portfolio__item {
    padding: 19px 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -0.04em;
  }

  .portfolio__arrow {
    margin-right: unset;
  }
}