.not-found-page {
  box-sizing: border-box;
  padding: 60px 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-page__container {
  box-sizing: border-box;
  padding-top: 186px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.not-found-page__header {
  margin: 0 0 5px;
  font-size: 140px;
  font-weight: normal;
  line-height: 1.21;
}

.not-found-page__paragraph {
  margin: 0 0 184px;
  font-size: 16px;
  line-height: 1.19;
}

.not-found-page__button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  color: #4285F4;
}

@media screen and (max-width: 1023px) {
  .not-found-page {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .not-found-page {
    padding: 30px 10px;
  }

  .not-found-page__container {
    padding-top: 300px;
    max-width: 300px;
    max-height: 720px;
  }

  .not-found-page__header {
    margin-bottom: 9px;
    font-size: 80px;

  }

  .not-found-page__paragraph {
    margin: 0 0 282px;
    font-size: 12px;
    line-height: 1.25;
  }
}